<!doctype html>
<html lang="en" class=" mdzr-js mdzr-borderradius mdzr-boxshadow mdzr-cssanimations mdzr-svg" data-theme="auto"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="ALL">
    <meta name="MSSmartTagsPreventParsing" content="true">
    <meta name="Copyright" content="Django Software Foundation">
    <meta name="keywords" content="Python, Django, framework, open-source">
    <meta name="description" content="">


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <link rel="icon" sizes="192x192" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <link rel="shortcut icon" href="https://static.djangoproject.com/img/favicon.6dbf28c0650e.ico">
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="https://static.djangoproject.com/img/icon-tile.b01ac0ef9f67.png">
    <meta name="theme-color" content="#0C4B33">


    <meta property="og:title" content="About the Django Software Foundation">
    <meta property="og:description" content="The web framework for perfectionists with deadlines.">
    <meta property="og:image" content="https://static.djangoproject.com/img/logos/django-logo-negative.1d528e2cb5fb.png">
    <meta property="og:image:alt" content="Django logo">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="546">
    <meta property="og:image:type" content="image/png">
    <meta property="og:url" content="https://www.djangoproject.com/foundation/">
    <meta property="og:site_name" content="Django Project">

    <meta property="twitter:creator" content="djangoproject">
    <meta property="twitter:site" content="djangoproject">
    <meta property="twitter:card" content="summary">


    <title>About the Django Software Foundation | Django</title>

    <link rel="stylesheet" href="https://static.djangoproject.com/css/output.1adc4207e45f.css">
    <script src="https://static.djangoproject.com/js/lib/webfontloader/webfontloader.e75218f5f090.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,400&amp;subset=latin"><script>
    WebFont.load({
      custom: {
        families: ['FontAwesome', 'Fira+Mono'],
      },
      google: {
        families: ['Roboto:400italic,700italic,300,700,400:latin'
        ]
      },
      classes: false,
      events: false,
      timeout: 1000
    });
    </script>
    <script src="https://static.djangoproject.com/js/lib/modernizr.3b36762e418a.js"></script>
    <script src="https://static.djangoproject.com/js/mod/switch-dark-mode.a0e0dca32970.js"></script>

  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main.48270eac7c0b" src="https://static.djangoproject.com/js/main.48270eac7c0b.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="mod/mobile-menu" src="https://static.djangoproject.com/js/mod/mobile-menu.6012f4745df8.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jquery" src="https://static.djangoproject.com/js/lib/jquery/dist/jquery.min.87e69028f78d.js"></script></head>

  <body id="generic" class="">




    <div class="copy-banner">
      <div class="container ">

  <h1>    Мәліметтер типі</h1>

      </div>
    </div>
    <div id="billboard"></div>

    <div class="container sidebar-right">
      <div role="main">
<h2> Мәліметтер типтері</h2>
<p> Мәліметтер типтері – қабылдай алатын
мәндерінің және олармен
орындауға болатын амалдардың жиынын анықтау,
яғни тип дегеніміз – шамалардың қабылдайтын мәндері не берілетін сипаттама.
Python тіліндегі мәліметтер типінің бір неше
түрі бар. Солардың ішіндегі
негізгі кіріктірілген тип түрлері:</p>
          <img alt="" height="420" data-cke-saved-name="Banking with FinTech.jpg" name="Banking with FinTech.jpg" data-cke-saved-src="https://ucarecdn.com/696e362a-fe25-4380-b73a-6c59e5a03491/" src="https://ucarecdn.com/696e362a-fe25-4380-b73a-6c59e5a03491/" width="800" data-cke-widget-data="%7B%22hasCaption%22%3Afalse%2C%22src%22%3A%22https%3A%2F%2Fucarecdn.com%2F696e362a-fe25-4380-b73a-6c59e5a03491%2F%22%2C%22alt%22%3A%22%22%2C%22width%22%3A%221920%22%2C%22height%22%3A%221080%22%2C%22lock%22%3Atrue%2C%22align%22%3A%22none%22%2C%22classes%22%3Anull%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="image" class="cke_widget_element">

          <h2> Type () функциясы </h2>
<p>Айнымалы немесе мән қандай классқа жататынын білу үшін type() функциясын қолданамыз.
    <h2>Python-дағы сандық деректер типі</h2>
<p>Python-да сандық деректер типтерінің мынадай түрлері бар:</p>
          <li>int (бүтін сан);</li>
          <li>float (нақты сан [жылжымалы нүктелі: –0.2, 0.0, 3.14159265
және т.б.]);</li>
   <p> Сандық деректер типіне келтірілген мысалды қарастырайық:</p>
          <img alt="" height="139" data-cke-saved-name="san1.png" name="san1.png" data-cke-saved-src="https://ucarecdn.com/ef19f207-7f96-4af4-9cb9-e202520495ac/" src="https://ucarecdn.com/ef19f207-7f96-4af4-9cb9-e202520495ac/" width="567" data-cke-widget-data="%7B%22hasCaption%22%3Afalse%2C%22src%22%3A%22https%3A%2F%2Fucarecdn.com%2Fef19f207-7f96-4af4-9cb9-e202520495ac%2F%22%2C%22alt%22%3A%22%22%2C%22width%22%3A%22567%22%2C%22height%22%3A%22139%22%2C%22lock%22%3Atrue%2C%22align%22%3A%22none%22%2C%22classes%22%3Anull%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="image" class="cke_widget_element">
          <p>Тексеру</p>
          <img alt="" height="56" data-cke-saved-name="san2.png" name="san2.png" data-cke-saved-src="https://ucarecdn.com/bba4cecb-4574-47ec-9bae-b67300391c44/" src="https://ucarecdn.com/bba4cecb-4574-47ec-9bae-b67300391c44/" width="439" data-cke-widget-data="%7B%22hasCaption%22%3Afalse%2C%22src%22%3A%22https%3A%2F%2Fucarecdn.com%2Fbba4cecb-4574-47ec-9bae-b67300391c44%2F%22%2C%22alt%22%3A%22%22%2C%22width%22%3A%22439%22%2C%22height%22%3A%2256%22%2C%22lock%22%3Atrue%2C%22align%22%3A%22none%22%2C%22classes%22%3Anull%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="image" class="cke_widget_element">
         <p>Жоғарыда келтірілген мысалда біз екі айнымалы san1, san2 және сәйкесінше 5, 2.0 мәндерін құрдық.
           Біз, сондай-ақ, белгілі бір айнымалының қай классқа жататынын білу үшін type() функциясын қолдандық.</p>
          <h2>Python-дағы жолдық деректер типі (string) </h2>
<p> Жол - бұл бір немесе екі тырнақшамен ұсынылған таңбалар жиынтығы.<p/>
          <img alt="" height="137" data-cke-saved-name="zhol2.png" name="zhol2.png" data-cke-saved-src="https://ucarecdn.com/271552ad-2444-43b0-a871-dc751b6cce42/" src="https://ucarecdn.com/271552ad-2444-43b0-a871-dc751b6cce42/" width="513" data-cke-widget-data="%7B%22hasCaption%22%3Afalse%2C%22src%22%3A%22https%3A%2F%2Fucarecdn.com%2F271552ad-2444-43b0-a871-dc751b6cce42%2F%22%2C%22alt%22%3A%22%22%2C%22width%22%3A%22513%22%2C%22height%22%3A%22137%22%2C%22lock%22%3Atrue%2C%22align%22%3A%22none%22%2C%22classes%22%3Anull%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="image" class="cke_widget_element">
          <p>Тексеру</p>
          <img alt="" height="77" data-cke-saved-name="zhol1.png" name="zhol1.png" data-cke-saved-src="https://ucarecdn.com/2eab8187-644a-47db-b742-2e02d7e1cf5e/" src="https://ucarecdn.com/2eab8187-644a-47db-b742-2e02d7e1cf5e/" width="338" data-cke-widget-data="%7B%22hasCaption%22%3Afalse%2C%22src%22%3A%22https%3A%2F%2Fucarecdn.com%2F2eab8187-644a-47db-b742-2e02d7e1cf5e%2F%22%2C%22alt%22%3A%22%22%2C%22width%22%3A%22338%22%2C%22height%22%3A%2277%22%2C%22lock%22%3Atrue%2C%22align%22%3A%22none%22%2C%22classes%22%3Anull%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="image" class="cke_widget_element">
<p> Тырнақша ішіндегі сөздердің бірінші жолынан бастап соңғы
жолына дейін немесе әр символын [] [:] таңбаларын пайдаланып
қиып алып, қосымша жолдар жасауға болады. Жолдар үшін қосу (+) операторы екі жолды қосады, жұлдызша (*) жолдарды қайталайды.  Cоңғы таңба үшін –1-ден кері
индекстеуді, яғни тырнақша ішіндегі символдарды кері жазуды
қолдана аламыз. Мысалы:</p>
          <img alt="" height="200" data-cke-saved-name="zhol4.png" name="zhol4.png" data-cke-saved-src="https://ucarecdn.com/f042b79f-9269-4f42-b924-7036a2ebcc5e/" src="https://ucarecdn.com/f042b79f-9269-4f42-b924-7036a2ebcc5e/" width="800" data-cke-widget-data="%7B%22hasCaption%22%3Afalse%2C%22src%22%3A%22https%3A%2F%2Fucarecdn.com%2Ff042b79f-9269-4f42-b924-7036a2ebcc5e%2F%22%2C%22alt%22%3A%22%22%2C%22width%22%3A%221080%22%2C%22height%22%3A%22249%22%2C%22lock%22%3Atrue%2C%22align%22%3A%22none%22%2C%22classes%22%3Anull%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="image" class="cke_widget_element">
         <p>Тексеру</p>
          <img alt="" height="250" name="zhol6.png" src="https://ucarecdn.com/f6873ba7-9d52-46b4-bddf-4315e95fc1f2/" width="591">
 <h2>Python-ғы тізім (list) </h2>
<p>Python-ғы тізімдер – құрамдас мәліметтердің ең әмбебап
түрі. Тізім тік жақша арасында үтір мен бөлінген элементтерден
тұрады ([]). Бір ерекшелігі – бір тізімдегі элементтерде әртүрлі
мәліметтер типтері болуы мүмкін. Нөлден соңына дейін қию
операторын ([] және [:]) және индекстерді қолдана отырып,
тізімде сақталған элементтерге жолдардағы сияқты қол жеткізе
аламыз. Дәл жолдағы сияқты қосу (+) операторы екі жолды
бірге қосады, жұлдызша (*) жолдарды қайталайды. <p/>

          <h2>Python-ғы  кортеж (tuple)</h2>
<p>
Кортеж – тізімдерге ұқcас мәліметтер типінің бір түрі. Кортеж
кәдімгі жақша ішінде үтірлермен бөлінген мәндер қатарынан тұрады. Тізімдер мен кортеждердің араcындағы басты айырмашылық – кортеж элементтерін өзгерту мүмкін еместігі. Кортеждерді
тек оқуға арналған тізім ретінде қолдана аламыз. Тізім мәлімет
типінің элементтерін өзгерту қажет болмаса, жадтағы бос орынды
үнемдеу үшін бірден осы кортежді пайдаланып кетуге болады.
Кортежге тік жақша емес, жай жақша тән.  <p/>
          <h2>Python-ғы  сөздіктер  (dictionarу)</h2>
<p>
Python-дағы сөздіктер – кілт пен ашылатын сұрыпталмаған
элементтер жиынтығы. Сөздіктің әр кілті белгілі бір мәнге сәйкес келеді.
Кілт кез-келген өзгермейтін деректер болуы мүмкін (сан, жол, кортеж), ал мәні кез-келген мәліметтер типі болуы мүмкін. Кілт және оның мәні {} осындай жақша ішіне жазылады. <p/>
          <h2>Python-ғы логикалық тип (boolean) </h2>
<p>
Python-да қарапайым логикалық операторлар бар. Олар:</p>
    <p>=,  !=,  <,  >,  <=,  >=</p>
<p>Сонымен қатар күрделі логикалық өрнектерді құруға
болатын операторлар:</p>
    <p>and, or, not (және, немесе, емес)</p>
<p>not операторынан басқа барлық логикалық операторлар
екілік болып табылады. Бұл not операторынан басқа операторлардың сол және оң жағында өрнектер болуы керек дегенді
білдіреді.
Логикалық операторларды қолдану арқылы бұл өрнектер
бір-бірі мен салыстырылады.
Логикалық операциялардың нәтижелері логикалық мәліметтер типіне ие.<p/>



      </div>




<h1 class="visuallyhidden">Additional Information</h1>
<div role="complementary">



  <div class="fundraising-sidebar">
    <h2>Python-да программалап үйрен</h2>

    <div class="small-heart">
      <img class="python-logo" src="https://www.python.org/static/img/python-logo@2x.png" alt="python™" width="300" height="80">
    </div>

    <div class="small-cta">
      <ul class="list-links-small">
        <li><a href="https://www.djangoproject.com/fundraising/">
          Программалау ол - түсіну
        </a></li>
      </ul>
    </div>
  </div>



  <h2>Қосымша тапсырмалар</h2>
  <ul class="list-links">
    <li><a href="/foundation/faq/">Онлайн компилятор</a></li>
    <li><a href="/foundation/records/">Тест сұрақтары</a></li>
  </ul>
</div>



    </div>








    <!-- SVGs -->
    <svg xmlns="http://www.w3.org/2000/svg">
      <symbol viewBox="0 0 24 24" id="icon-auto"><path d="M0 0h24v24H0z" fill="currentColor"></path><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2V4a8 8 0 1 0 0 16z"></path></symbol>
      <symbol viewBox="0 0 24 24" id="icon-moon"><path d="M0 0h24v24H0z" fill="currentColor"></path><path d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z"></path></symbol>
      <symbol viewBox="0 0 24 24" id="icon-sun"><path d="M0 0h24v24H0z" fill="currentColor"></path><path d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"></path></symbol>
    </svg>
    <!-- END SVGs -->


      <div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">Django Links</h1>
      <div class="column-container">
        <div class="col-learn-more">
          <h2>Python программалау тілі</h2>
          <ul>


</div>




    <script>
    function extless(input) {
        return input.replace(/(.*)\.[^.]+$/, '$1');
    }
    var require = {
        shim: {
            'jquery': [],
            'jquery.inview': ["jquery"],
            'jquery.payment': ["jquery"],
            'jquery.flot': ["jquery"],
            'jquery.unveil': ["jquery"],
            'stripe': {
              exports: 'Stripe'
            }
        },
        paths: {
            "jquery": extless("https://static.djangoproject.com/js/lib/jquery/dist/jquery.min.87e69028f78d.js"),
            "jquery.inview": extless("https://static.djangoproject.com/js/lib/jquery.inview/jquery.inview.min.4edba1c65592.js"),
            "jquery.payment": extless("https://static.djangoproject.com/js/lib/jquery.payment/lib/jquery.payment.e99c05ca79ae.js"),
            "jquery.unveil": extless("https://static.djangoproject.com/js/lib/unveil/jquery.unveil.min.ac79eb277093.js"),
            "jquery.flot": extless("https://static.djangoproject.com/js/lib/jquery-flot/jquery.flot.min.9964206e9d7f.js"),
            "clipboard": extless("https://static.djangoproject.com/js/lib/clipboard/dist/clipboard.min.bd70fd596a23.js"),
            "mod/floating-warning": extless("https://static.djangoproject.com/js/mod/floating-warning.a21b2abd2884.js"),
            "mod/list-collapsing": extless("https://static.djangoproject.com/js/mod/list-collapsing.c1a08d3ef9e9.js"),
            "mod/list-feature": extless("https://static.djangoproject.com/js/mod/list-feature.73529480f25b.js"),
            "mod/mobile-menu": extless("https://static.djangoproject.com/js/mod/mobile-menu.6012f4745df8.js"),
            "mod/version-switcher": extless("https://static.djangoproject.com/js/mod/version-switcher.c56ff7ed5481.js"),
            "mod/search-key": extless("https://static.djangoproject.com/js/mod/search-key.1dee105cb48c.js"),
            "mod/stripe-change-card": extless("https://static.djangoproject.com/js/mod/stripe-change-card.682c710317a8.js"),
            "mod/switch-dark-mode": extless("https://static.djangoproject.com/js/mod/switch-dark-mode.a0e0dca32970.js"),
            "mod/console-tabs": extless("https://static.djangoproject.com/js/mod/console-tabs.70ce882faaf3.js"),
            "stripe-checkout": "https://checkout.stripe.com/checkout",
            "stripe": "https://js.stripe.com/v3/?" // ? needed due to require.js
        }
    };
    </script>
    <script data-main="https://static.djangoproject.com/js/main.48270eac7c0b.js" src="https://static.djangoproject.com/js/lib/require.177879fbe7dd.js"></script>
</body>
</html>